<head>
	<style>
		#newMessage, #newSubforum {
		  position: absolute;
		  top: 50%;
		  left: 50%;
		  margin: -150px 0 0 -150px;
		}
		
	</style>
</head>

<div ng-controller="userController">
	<nav class="navbar navbar-inverse">
  		<div class="container-fluid">
    		<div class="navbar-header">
      			<a class="navbar-brand" href="">Pocetna</a>
    		</div>
    		<ul class="nav navbar-nav">
      			<li class="active"><a href="">Entiteti</a></li>
      			<li><a href="" ng-click="goToSubforum()">Podforumi</a></li>
      			<li><a href="">Like/Dislike</a></li>
      			<li><a href="" ng-click="goToInbox()">Poruke</a></li>
      			<li><a href="" ng-click="editUser()" ng-if="isAdministrator()">Promena tipa</a></li>
    		</ul>
    		<ul class="nav navbar-nav navbar-right">
			      <li><a href="" ng-click="logout()">Odjava</a></li>
			</ul>
    	</div>
	</nav>
	<div ng-show="viewSubforum">
		<div ng-if=!isUser()>
			&nbsp;&nbsp;&nbsp;<button type="submit" class="btn btn-primary" ng-click="noviForum()">Kreiranje foruma</button><br><br>
		</div><br>
		<div class="col-md-12">
			<label><font color="blue" size="3">Podforumi:</font></label>
			<table class="table table-bordered table-striped">
				    <thead>
				      <tr>
				        <th>Naziv</th><th>Opis</th><th>Ikonica</th><th>Zaprati</th><th ng-if=!isUser()>Obrisi</th>
				      </tr>
				     </thead>
				     <tbody>
				     	<tr ng-repeat="subforum in subforums">
				     		<td> {{ subforum.name }} </td>
				     		<td> {{ subforum.description }} </td>
				     		<td> <img ng-src="icons/{{subforum.iconPath}}" alt="ikonica" height="32px" width="32px"></td>
				     		<td> <button type="submit" class="btn btn-info" ng-click="followSub(subforum)">Zaprati</button> </td>
				     		<td ng-if=!isUser()> <button type="submit" class="btn btn-warning" ng-click="deleteSub(subforum)">Obrisi</button></td>
				     </tbody>
			</table>
		</div>
	</div>
	<div ng-show="newSubforum" id="newSubforum">
		<div class="form-group">
			<label class="control-label"> Naziv: </label>  
			<input type = "text" class="form-control" id="name" ng-model="newSub.name" placeholder="Unesite naziv podforuma"> 
		</div>
		<div class="form-group">	
			<label class="control-label"> Opis: </label>  
			<textarea rows="2" cols="50" class="form-control" ng-model="newSub.description" placeholder="Unesite opis podforuma"></textarea>
		</div>
		<div class="form-group">	
			<label class="control-label"> Pravila: </label>  
			<textarea rows="2" cols="50" class="form-control" ng-model="newSub.rules" placeholder="Unesite pravila podforuma"></textarea>
		</div>
		<div class="form-group">
	        <div class="fileupload fileupload-new" data-provides="fileupload">
	            <div class="input-append">
	                <div class="uneditable-input span3">
	                    <i class="icon-file fileupload-exists"></i> 
	                    <span class="fileupload-preview" ng-model="userType"></span>                                          
	                </div>                                
	                <span class="btn btn-file">
	                    <span class="fileupload-new">Izaberite ikonicu</span>
	                    <input type="file" ng-model="upFile" onchange="angular.element(this).scope().setFileEventListener(this)" />
	                </span>
	           
	            </div>
	        </div>                   
    	</div>
	    <div class="form-group"  >
	        <button type="submit"  value="Send" id="btnStartUpload" class="btn btn-primary" ng-click="uploadFile()" ng-disabled="!upload_button_state">
	            <i class="icon-upload"></i>
	            <span>Sacuvaj</span>
	        </button>     
	        <button type="submit" class="btn btn-second pull-right" ng-click="cancelSubforum()"> Zatvori </button>                  
	    </div>   
	</div>
	
	<div ng-show="viewInbox">		
		<div>
			&nbsp;&nbsp;&nbsp;<button type="submit" class="btn btn-primary" ng-click="novaPoruka()">Nova poruka</button><br><br>
		</div>
		<div class="col-md-12" ng-show="showTableInbox">
			<label><font color="blue" size="3">Primljene poruke:</font></label>
			<table class="table table-bordered table-striped">
				    <thead>
				      <tr>
				        <th>Pošiljalac</th><th>Poruka</th><th>Detalji</th><th>Odgovori</th>
				      </tr>
				     </thead>
				     <tbody>
				     	<tr ng-repeat="messageInbox in inbox">
				     		<td > {{ messageInbox.sender }} </td>
				     		<td ng-if="messageInbox.read == false" style="background:red" > {{ messageInbox.content }} </td>
				     		<td ng-if="messageInbox.read == true" style="background:lightgreen" > {{ messageInbox.content }} </td>
				     		<td> <button type="submit" class="btn btn-info" ng-click="detalji(messageInbox)">Detalji</button> </td>
				     		<td> <button type="submit" class="btn btn-warning" ng-click="odgovori(messageInbox)">Odgovori</button></td>
				     </tbody>
			</table>
		</div>  
		<div class="form-group text-danger" ng-if="emptyInbox">{{ emptyInbox }}</div>
	</div>
	
	<div ng-show="newMessage" id="newMessage">
		<div class="form-group">
			<label for="receiver" class="control-label"> Primalac: </label>  
			<input type = "text" class="form-control" id="receiver" ng-model="receiver" ng-disabled="receiverDisabled" placeholder="Unesite korisničko ime primaoca"> 
		</div>
		<div class="form-group">	
			<label for="content" class="control-label"> Poruka: </label>  
			<textarea rows="4" cols="50" class="form-control" ng-model="content" ng-disabled="contentDisabled" placeholder="Unesite sadrzaj poruke"></textarea>
		</div>
		<div class="form-group">	
			<button type="submit" class="btn btn-primary" ng-click="send()" ng-show="posaljiDugme"> Posalji </button>
			<button type="submit" class="btn btn-second pull-right" ng-click="cancel()"> Zatvori </button>
		</div>
	</div>	
	<div ng-show="editProfile">
		<div class="col-md-12">
			<label><font color="blue" size="3">Registrovani korisnici:</font></label>
			<table class="table table-bordered table-striped">
				    <thead>
				      <tr>
				        <th>Korisničko ime</th><th>Ime</th><th>Prezime</th><th>Email</th><th>Uloga</th><th>Izmena</th>
				      </tr>
				     </thead>
				     <tbody>
				     	<tr ng-repeat="user in users">
				     		<td> {{ user.username}} </td>
				     		<td> {{ user.name }}</td>
				     		<td> {{ user.surname }}</td>
				     		<td> {{ user.email }}</td>
				     		<td> {{ user.role }}</td>
				     		<td> <button type="submit" class="btn btn-info" data-toggle="modal" data-target="#profileModal" ng-click="editRole(user)">Izmeni</button> </td>
				     </tbody>
			</table>
		</div> 
	</div>
	<div id="profileModal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
			        	<button type="button" class="close" data-dismiss="modal">&times;</button>
			        	<h4 class="modal-title">Promena tipa</h4>
			      	</div>
			      	<div class="modal-body">
			      		<div class="form-group">
							<label class="control-label" for="username">Korisničko ime:</label>
							<input type="text" class="form-control" id="username" ng-model="editModal.username" disabled>
						</div>
						<div class="form-group">
							<label class="control-label" for="name">Ime:</label>
							<input type="text" class="form-control" id="name" ng-model="editModal.name" disabled>
						</div>
						<div class="form-group">
							<label class="control-label" for="name">Uloga:</label>
							<select class="form-control" ng-model="editModal.role">
								<option value="USER" ng-if="!isRoleUser(editModal.role)">KORISNIK</option>
								<option value="MODERATOR" ng-ig="!isRoleModerator(editModal.role)">MODERATOR</option>
								<option value="ADMINISTRATOR" ng-if="!isRoleAdmin(editModal.role)">ADMINISTRATOR</option>
							</select>
						</div>
						
			      	</div>
			      	<div class="modal-footer">
			      		<button type="button" class="btn btn-primary" data-dismiss="modal">Izađi</button>
			        	<button type="submit" class="btn btn-primary pull-left" data-dismiss="modal" ng-click="changeRole(editModal.username, editModal.role)" > Izmeni </button>
			      	</div>
				</div>
			</div>
		</div>
</div>